<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarmonyX" version="2.10.2" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="MonoMod.RuntimeDetour" version="22.3.23.4" targetFramework="net472" />
  <package id="MonoMod.Utils" version="22.3.23.4" targetFramework="net472" />
  <package id="NLog" version="5.2.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SpiderHeck.GameLibs" version="1.4.0" targetFramework="net472" />
  <package id="Tomlyn" version="0.16.2" targetFramework="net472" />
  <package id="modweaver.core" version="1.0.1" targetFramework="net472" />
</packages>